/*bouton */
/*timer  */
/*plateau */
.carreEntier{
  display: inline-flex;
}
.ligne1{

}
#carre1{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
#carre2{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
#carre3{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
#carre4{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
#carre5{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
.ligne2{

}
#carre6{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
#carre7{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
#carre8{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
#carre9{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
#carre10{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
.ligne3{

}
#carre11{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
#carre12{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
#carre13{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
#carre14{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
#carre15{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
.ligne4{

}
#carre16{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
#carre17{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
#carre18{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
#carre19{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
#carre20{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
.ligne5{

}
#carre21{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
#carre22{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
#carre23{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
#carre24{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
#carre25{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
/* score */
/* input liste */
#list{
  background-color: grey;
  width: 500px;
  height: 500px;
  display: inline-block;
}
#alert  {
  display: none;
}
